* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    display: grid;
    background-color: whitesmoke;
    font-family: 'Cinzel', serif;
  }

  /* Header */
  header {
    text-decoration: none;
    align-items: center;
    text-align: center;
    width: 950px;
    padding: 20px;
    margin: 0 auto;
  }

h1, h2, h3 {
    text-align: center;
}

/* Gallery */
.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    row-gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.container-artwork {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  column-gap: 10px;
  row-gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.text1 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 510px;
}

.text2 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 510px;
}

.text3 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 510px;
}

.text4 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 510px;
}

.text5 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 510px;
}

.text6 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 510px;
}

.text7 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 510px;
}

.text8 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 510px;
}

.text9 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 510px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img__wrap {
  position: relative;
  width: 298px;
  height: auto;
}

.img[src="images/image - 1.jpeg"] {
  display: block;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0, 0m5);
  color: whitesmoke;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.img__wrap:hover .overlay {
  opacity: 1;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Footer */
  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }

/* The navbar container */
ul {
    list-style-type: none;
    align-content: center;
    margin: 0;
    padding: 0;
  }

li {
    align-items: center;
}

.nav {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .nav a {
    float: left;
    display: inline-flex;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }